/**************************************************
			      Global styles
***************************************************/

html, body {
    font-family: "Franklin Gothic Book", Arial, sans-serif;
	background: #fff url(../images/bg.png);
	background-repeat: repeat;
   	width:100%;
   	background-attachment: fixed;

	}

h1{
	width: 600px;
}


.image{
	width: 350px;
	margin-top: 5% !important;
	margin-left: 7% !important;
    position: relative;
}


.clear{
	clear: both;
}

#virginity {
	text-align: left;
    font-size: 50px;
    padding-top: 10%;

}
#typewriter {
	text-align: left;
    height: 130px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 40px;
    line-height: 95%;
}

#rightContent {
	top:7%;
	display:inline-block;
	margin-right: 2%;
	right:2%;
	width:50%;
	float:right;
	margin-top:3%;
}

#siteName {
	text-align: left;
	font-family: 'FrankGotRom', Arial;
	font-weight: bold;
	font-size:32px;
	color:#cd1d38;
}

#tales {
	text-align: left;
    font-weight: bold;
    font-size: 20px;
}

#virginity,#typewriter {
	font-family: 'PermanentMarker', Helvetica, sans-serif;

}

@font-face {
    font-family: 'PermanentMarker';
    src: url('/static/css/font/PermanentMarker.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'FrankGotRom';
    src: url('/static/css/font/Franklin Gothic No. 2 Roman.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: none;
}

a:visited {
	color:#595959;
}

a:hover {
	color:white;
}
.enterButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Futura',Arial;
  color: #595959;
  font-size: 14px;
  padding: 15px 40px 15px 40px;
  border: solid #595959 1px;
  text-decoration: none;
  text-align: center;
  width:100px;
  cursor: pointer;

}

.enterButton:hover {
  background: #595959;
  text-decoration: none;
  color:white;
}


