<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>The V-Card Diaries</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico"%}"/>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/d3.min.js" %}"></script>
    <script src="{% static "js/vis.js" %}"></script>
    <script src="{% static "js/loadData.js" %}"></script>
    <script>
        $(document).ready(function(){

            var s = localStorage.getItem("submitted");
            if (s == "true") {
                openWindow('submitWindow');
                localStorage.setItem("submitted", "false");
            }

            $("#theme").click(function(){
                $("#theme-tags").toggle("fast");
            });
            $("#sexuality").click(function(){
                $("#sexuality-tags").toggle("fast");
            });
            $("#demographic").click(function(){
                $("#demographic-tags").toggle("fast");
            });
            $("#experience").click(function(){
                $("#experience-tags").toggle("fast");
            });
            $("#ages").click(function(){
                $("#age-tags").toggle("fast");
            });
        });
    </script>
</head>

<!-- email notifications on posting  -->

<body>
    <div id="fullbody">
        <!--     Header -->
        <div id="header">
            <a href="/"><h1> the v-card diaries</h1></a>
            <div class="grey-btn" id="film">
                <a href="http://virginitymovie.com" id="film-button" target="_blank">go to film</a>
            </div>
            <div class="grey-btn" id="submit">
                <!-- <a href="/stories/submit/" id="submit-button">share your story</a> -->
                <a href="http://virginitymovie.com/tell-your-story" id="submit-button">share your story</a>
            </div>
            <a href="/"><h2 class="subtitle">tales of sexual debuts and deferrals</h2></a>
        </div>

        <div id="nav">
            <img src="{% static "img/cherry.jpg" %}" width="80"></img>
            <span id="storyinfo"></span>
        </div>

        <div class="container">
            {% if all_stories %}


            {% else %}
                <p>No stories are available.</p>
            {% endif %}
        </div>

             <!--     Filter by tags -->
        <div class="right">
            <div id="strong-text"><h2>filter stories</h2></div><p></p>
            <em class="smallItalics"><p>click on a category to expand</p><p>or type in your own search term</p></em><br>
            <div id="selected-tags"></div><br>
            <a href="javascript:void(0)" id = "clear">clear all categories</a><br><br>
            <input type="text" id="search" name="search for stories" maxlength="500"> <button type="button" id="searchButton">Search</button><br><br>

            <a href="javascript:void(0)" class="category" id="theme">T H E M E S</a>
            <div id='theme-tags' style="display:none">
                <ul>
                {% for tag in all_tags %}
                    {% if tag.tagtype == "Theme"%}
                        <li><a href="javascript:void(0)" class = "tag" id = "tag{{tag.id}}" onclick="tagFilter('tag{{tag.id}}')">{{ tag.name }}</a></li>
                    {%endif%}
                {% endfor %}
                </ul>
            </div><br>

            <a href="javascript:void(0)" class="category" id="sexuality">S E X U A L I T I E S</a>
            <div id='sexuality-tags' style="display:none">
                <ul>
                {% for tag in all_tags %}
                    {% if tag.tagtype == "Sexuality"%}
                        <li><a href="javascript:void(0)" class = "tag" id = "tag{{tag.id}}" onclick="tagFilter('tag{{tag.id}}')">{{ tag.name }}</a></li>
                    {%endif%}
                {% endfor %}
                </ul>
            </div><br>

            <a href="javascript:void(0)" class="category" id="demographic">D E M O G R A P H I C S</a>
            <div id='demographic-tags' style="display:none">
                <ul>
                {% for tag in all_tags %}
                    {% if tag.tagtype == "Demographic"%}
                        <li><a href="javascript:void(0)" class = "tag" id = "tag{{tag.id}}" onclick="tagFilter('tag{{tag.id}}')">{{ tag.name }}</a></li>
                    {%endif%}
                {% endfor %}
                </ul>
            </div><br>

            <a href="javascript:void(0)" class="category" id="ages">A G E S</a>
            <div id='age-tags' style="display:none">
                <ul>
                    {% for choice in age_choices %}
                    <li><a href="javascript:void(0)" class = "tag" id = "{{choice.0}}" onclick="tagFilter('{{choice.0}}')">{{ choice.1 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <br>
        </div>

        <div id="light" class="white_content">

            <h2 id="boxtitle" class="boxtitle"></h2><br>
            <p id="name"></p>
            <p id="place"></p>
            <p id="ageRange"></p>
            <p id="link"></p><br>
            <p id="count"></p><br>

            <a href="#" id="facebook"><img src="{% static "img/facebook-share.png" %}" width="30" class="social"></img></a>
            <a href="#" id="twitter"><img src="{% static "img/twitter-share.png" %}" width="30" class="social"></img></a>
            <a href="#" id="tumblr"><img src="{% static "img/tumblr-share.png" %}" width="30" class="social"></img></a>
            <a href="#" id="reddit"><img src="{% static "img/reddit-share.png" %}" width="30" class="social"></img></a>

            <br><br>
            <p id="definition"></p><br>
            <p id="story"></p><br>
            <!-- <p hidden id="storyID"></p> -->

        </div>

        <div id="aboutWindow" class="white_content">
            <h2 class="boxtitle">about the v-card diaries</h2><br>
            <p class="aboutText">The V-Card Diaries is a crowd-sourced interactive story-sharing site where everyone can access and share stories about their sexual lives in total anonymity. The site was inspired by the many stories we received from people who have seen our documentary <a href="http://virginitymovie.com/" class="aboutText" target="_blank">How To Lose Your Virginity</a> or follow <a href="http://virginitymovie.com/blog" class="aboutText" target="_blank">the blog</a>. Join us in telling this collective story about becoming sexual - and in the radical act of speaking honestly about it. Get more information about this project <a href="https://therese-shechter.squarespace.com/interactive/" class="aboutText" target="_blank">here</a> or <a href="https://therese-shechter.squarespace.com/contact" class="aboutText" target="_blank">contact Therese directly</a>.</p><br>

            <p class="aboutText">The site was initially developed in 2013 at the <a href="http://www.pbs.org/pov/blog/povdocs/2013/01/pov-hackathon-2-view-eight-web-storytelling-prototypes/9/POV Hackathon" class="aboutText" target="_blank">POV Hackathon</a> by <a href="http://trixiefilms.com" class="aboutText" target="_blank">Therese Shechter</a>, <a href="https://www.linkedin.com/in/smmelendez" class="aboutText" target="_blank">Steven Melendez</a>, <a href="https://www.linkedin.com/pub/ellice-litwak/b7/2b6/56" class="aboutText" target="_blank">Ellice Litwak</a> and <a href="http://www.vanessajoho.com" class="aboutText" target="_blank">Vanessa Joho</a>. It was updated and relaunched in 2015 by <a href="http://trixiefilms.com" class="aboutText" target="_blank">Therese Shechter</a> and <a href="http://rouxpz.com" class="aboutText" target="_blank">Roopa Vasudevan</a>.</p>
        </div>

        <div id="submitWindow" class="white_content">
            <h2 class="boxtitle">Thanks for sharing your story!</h2><br>
            <p>You'll get an email when your submission has been posted. We'll contact you soon if there are any questions.</p>
        </div>

        <div id="fade" class="black_overlay"></div>
        <div id="loadingScreen"><span id="load"><h1>We'll have all your stories loaded soon... It's worth the wait.</h1></span></div>


        <div class="clearFloat"></div>
        <footer class="footer">
            <p>The interactive project <a href="http://vcarddiaries.com" class="footer-text">The V-Card Diaries</a> and the documentary <a href="http://virginitymovie.com" class="footer-text">How To Lose Your Virginity</a> are projects of <a href="http://www.trixiefilms.com" class="footer-text">Trixie Films</a>.
            </p><a href="javascript:void(0)" class="footer-text" id="about">More about this project.</a> Do you have questions? <a href="http://virginitymovie.com/contact" class="footer-text">Contact us!</a><br><br>
            <a href="https://www.facebook.com/VirginMovie"><img src="{% static "img/facebook.png" %}" width="30" class="social"></img></a>
            <a href="https://twitter.com/vcarddiaries"><img src="{% static "img/twitter.png" %}" width="30" class="social"></img></a>
            <a href="http://virgin.tumblr.com"><img src="{% static "img/tumblr.png" %}" width="30" class="social"></img>
            <a href="http://vimeo.com/trixiefilms"><img src="{% static "img/vimeo.png" %}" width="30" class="social"></img>
            <a href="http://www.youtube.com/channel/UClyU4GO14NFPnlpUWLmnX-Q"><img src="{% static "img/youtube.png" %}" width="30" class="social"></img>
            <a href="http://pinterest.com/trixiefilms"><img src="{% static "img/pinterest.png" %}" width="30" class="social"></img></a>
            <br><br><br>
            <em style="color:black;" class="smallItalics">How To Lose Your Virginity and The V-Card Diaries ©2015 Trixie Films LLC</em>
        </footer>
    </div>

    <div id="scrollbuttons">
            <a href = "javascript:void(0)" id="back"><img src="{% static "img/left.png" %}" width="100"/></a>
            <a href = "javascript:void(0)" id = "next"><img src="{% static "img/right.png" %}" width="100"/></a>
            <a href = "javascript:void(0)" id="close"><img src="{% static "img/close.png" %}" width="75"/></a>
    </div>

    {% if all_stories %}

        <script>
            var currentStory;
            var selectedStories = [];
            var stateShort = [];
            var stateLong = [];
            var countryShort = [];
            var countryLong = [];
            var ageShort = [];
            var ageLong = [];

        </script>

        {% for choice in state_choices %}
            <script>
                stateShort[stateShort.length] = '{{choice.0}}' 
                stateLong[stateLong.length] = '{{choice.1}}'
            </script>
        {% endfor %}

        {% for choice in country_choices %}
            <script>
                countryShort[countryShort.length] = '{{choice.0}}' 
                countryLong[countryLong.length] = '{{choice.1}}'
            </script>
        {% endfor %}

        {% for age in age_choices %}
            <script>
            ageShort[ageShort.length] = '{{age.0}}'
            ageLong[ageLong.length] = '{{age.1}}'
            </script>
        {% endfor %}

        <script src="{% static "js/storyWindow.js" %}"></script>
        <script src="{% static "js/tags.js" %}"></script>

    {% endif %}

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=8853011; 
var sc_invisible=1; 
var sc_security="bfb27728"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img class="statcounter"
src="http://c.statcounter.com/8853011/0/bfb27728/1/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
</html>