<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load wysiwyg %}
		{% wysiwyg_setup %}

		<title>Share Your Story</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico"%}"/>
    	<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				localStorage.setItem("submitted", "false");
			});
		</script>
	</head>

	<body>
		<div id="header">
		<h1>share your story</h1><div class="grey-btn" id="home"><a href="/stories/" id="home-button">read stories</a></div>
		</div>
		<div class="content">
			{% if form.errors %}
				<strong class="errors">Errors found:</strong><br>
				{% for e in form.errors %}
				<ol id="listed">
					<li><strong class="errors">The field "{{e}}" is required.</strong></li>
				</ol>
				{% endfor %}
			{% endif %}
			<br>
			<em>Contribute your story to the <strong>V-Card Diaries</strong> here! Starred fields are mandatory, but more information will help others find your story more easily.</em><br>
			<em>We'll send you 2 free <strong><a href="http://www.virginitymovie.com/buy-stuff/reusable-v-cards">Reusable V-Cards</a></strong> if you include your mailing address at the bottom of the form.</em><br><br>
		<form id="story_form" method="post" action="">
			{% csrf_token %}

			<strong>* {{form.name.label}}</strong>  
			{{form.name}}<br>
			<br>
			<strong>tell us about yourself.</strong><br>
			<em>this is so we can tag your story so others can find it.</em>

			<div id="tags">{{form.demo_tags}}<br>{{form.sex_tags}}</div>
			<br>
			<div id="demographics"><strong>where are you from?</strong><br>
			city  {{form.city}} {{form.state}} {{form.country}}
			<br>
			<br>
			<strong>* {{ form.age.label }}</strong><br>
			{{ form.age }}</div>
			<br>
			<strong>* {{ form.definition.label }}</strong><br>
			<em>this will be tweeted anonymously at @vcarddiaries.</em><br>
			{{ form.definition }}
			<br>
			<br>
		
			<strong>* {{ form.text.label }}</strong><br>
			<em>this is the text that will appear on the site, so please include a bit about yourself, your thoughts about the concept of virginity, and the story you'd like to share.</em><br>
			{{ form.text }}{% wysiwyg_editor "storytext" %}<br><br>
			<strong>{{ form.theme_tags.label }}</strong><br>
				<div id="tags">{{form.theme_tags }}</div><br>
			<strong>* {{ form.email.label }}</strong>  {{form.email}}<br>
			<br>
			<strong>{{ form.address.label }}</strong><br>  {{form.address}}<br>
			<br>
			<div class="fineprint"><strong>the fine print:</strong> Thanks so much for sharing your story with V-Card Diaries! By hitting "submit" you grant Trixie Films non-exclusive rights to publish your story in conjunction with the project "How To Lose Your Virginity." You also understand that if we publish your story, we may edit it for length or clarity.</div>
			<br/>
			<br/>
			<input type="submit" id = "submitButton" name="submit" value="submit!" />
		</form>
		<script>
			document.getElementById("submitButton").onclick = function() {
				localStorage.setItem("submitted", "true");
			}
		</script>
	</div>
	<footer class="footer">
        <p>The interactive project <a href="http://vcarddiaries.com" class="footer-text">The V-Card Diaries</a> and the documentary <a href="http://virginitymovie.com" class="footer-text">How To Lose Your Virginity</a> are projects of <a href="http://www.trixiefilms.com" class="footer-text">Trixie Films</a>.
        </p><a href="javascript:void(0)" class="footer-text" id="about">More about this project.</a> Do you have questions? <a href="http://virginitymovie.com/contact" class="footer-text">Contact us!</a><br><br>
        <a href="https://www.facebook.com/VirginMovie"><img src="{% static "img/facebook.png" %}" width="30" class="social"></img></a>
        <a href="https://twitter.com/vcarddiaries"><img src="{% static "img/twitter.png" %}" width="30" class="social"></img></a>
        <a href="http://virgin.tumblr.com"><img src="{% static "img/tumblr.png" %}" width="30" class="social"></img>
        <a href="http://vimeo.com/trixiefilms"><img src="{% static "img/vimeo.png" %}" width="30" class="social"></img>
        <a href="http://www.youtube.com/channel/UClyU4GO14NFPnlpUWLmnX-Q"><img src="{% static "img/youtube.png" %}" width="30" class="social"></img>
        <a href="http://pinterest.com/trixiefilms"><img src="{% static "img/pinterest.png" %}" width="30" class="social"></img></a>
        <br><br><br>
        <em style="color:black;" class="smallItalics">How To Lose Your Virginity and The V-Card Diaries ©2015 Trixie Films LLC</em>
    </footer>

    <script>
        document.getElementById("about").onclick = function() {
            document.getElementById('aboutWindow').style.display='block';
            document.getElementById('closeAbout').style.display='block';
            document.getElementById('fade').style.display='block';
            document.body.style.overflow='hidden';
        }
    </script>
    <script src="{% static "js/storyWindow.js" %}"></script>
	</body>
</html>