<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load wysiwyg %}
		{% wysiwyg_setup %}

		<title>Share Your Story</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico"%}"/>
    	<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				localStorage.setItem("submitted", "false");
			});
		</script>
	</head>

	<body>
		<div id="header">
		<h1>share your story</h1><div class="grey-btn" id="home"><a href="/stories/" id="home-button">read stories</a></div>
		</div>
		<div class="content">
			{% if form.errors %}
				<strong class="errors">Errors found:</strong><br>
				{% for e in form.errors %}
				<ol id="listed">
					<li><strong class="errors">The field "{{e}}" is required.</strong></li>
				</ol>
				{% endfor %}
			{% endif %}
			<br>
			<em>Contribute your story to the <strong>V-Card Diaries</strong> here! Starred fields are mandatory, but more information will help others find your story more easily.</em><br>
			<em>We'll send you 2 free <strong><a href="http://www.virginitymovie.com/buy-stuff/reusable-v-cards">Reusable V-Cards</a></strong> if you include your mailing address at the bottom of the form.</em><br><br>
		<form id="story_form" method="post" action="">
			{% csrf_token %}

			<strong>* {{form.name.label}}</strong>  
			{{form.name}}<br>
			<br>
<!-- 			<strong>tell us about yourself.</strong><br>
			<em>this is so we can tag your story so others can find it.</em> -->

<!-- 			<div id="tags">{{form.demo_tags}}<br>{{form.sex_tags}}</div>
			<br> -->
			<div id="demographics"><strong>where are you from?</strong><br>
			city  {{form.city}} {{form.state}} {{form.country}}
			<br>
			<br>
			<strong>* {{ form.age.label }}</strong><br>
			{{ form.age }}</div>
			<br>
			<strong>* {{ form.definition.label }}</strong><br>
			<em>this will be tweeted anonymously at @vcarddiaries.</em><br>
			{{ form.definition }}
			<br>
			<br>
		
			<strong>* {{ form.text.label }}</strong><br>
			<em>this is the text that will appear on the site, so please include a bit about yourself, your thoughts about the concept of virginity, and the story you'd like to share.</em><br>
			{{ form.text }}{% wysiwyg_editor "storytext" %}<br><br>
			<strong>{{ form.theme_tags.label }}</strong><br>
<!-- 				<div id="tags">{{form.theme_tags }}</div><br> -->
			<strong>* {{ form.email.label }}</strong>  {{form.email}}<br>
			<br>
			<strong>{{ form.address.label }}</strong><br>  {{form.address}}<br>
			<br>
			<div class="fineprint"><strong>the fine print:</strong> Thanks so much for sharing your story with V-Card Diaries! By hitting the SUBMIT button, you grant Trixie Films non-exclusive rights to your submitted story. You understand that we may edit your story for length and clarity, and we're not obligated to publish it. We will always protect your anonymity, and never share your email information. Thank your for submitting!</div>
			<br/>
			<br/>
			<input type="submit" id = "submitButton" name="submit" value="submit!" />
		</form>
		<script>
			document.getElementById("submitButton").onclick = function() {
				localStorage.setItem("submitted", "true");
			}
		</script>
	</div>
	<footer class="footer">
        <p>The interactive project <a href="http://vcarddiaries.com" class="footer-text">The V-Card Diaries</a> and the documentary <a href="http://virginitymovie.com" class="footer-text">How To Lose Your Virginity</a> are projects of <a href="http://www.trixiefilms.com" class="footer-text">Trixie Films</a>.
        </p><a href="javascript:void(0)" class="footer-text" id="about2">More about this project.</a> Do you have questions? <a href="http://virginitymovie.com/contact" class="footer-text">Contact us!</a><br><br>
        <a href="https://www.facebook.com/VirginMovie"><img src="{% static "img/facebook.png" %}" width="30" class="social"></img></a>
        <a href="https://twitter.com/vcarddiaries"><img src="{% static "img/twitter.png" %}" width="30" class="social"></img></a>
        <a href="http://virgin.tumblr.com"><img src="{% static "img/tumblr.png" %}" width="30" class="social"></img>
        <a href="http://vimeo.com/trixiefilms"><img src="{% static "img/vimeo.png" %}" width="30" class="social"></img>
        <a href="http://www.youtube.com/channel/UClyU4GO14NFPnlpUWLmnX-Q"><img src="{% static "img/youtube.png" %}" width="30" class="social"></img>
        <a href="http://pinterest.com/trixiefilms"><img src="{% static "img/pinterest.png" %}" width="30" class="social"></img></a>
        <br><br><br>
        <em style="color:black;" class="smallItalics">How To Lose Your Virginity and The V-Card Diaries ©2015 Trixie Films LLC</em>
    </footer>
    <script src="{% static "js/storyWindow.js" %}"></script>
    <script>
        document.getElementById("about2").onclick = function() {
            document.getElementById('aboutWindowSubmit').style.display='block';
            document.getElementById('closeAbout').style.display='block';
            document.getElementById('fade2').style.display='block';
            document.body.style.overflow='hidden';
        }
    </script>

    <div id="aboutWindowSubmit" class="white_content">
            <h2 class="boxtitle">about the v-card diaries</h2><br>
            <p class="aboutText">The V-Card Diaries is a crowd-sourced interactive story-sharing site where everyone can access and share stories about their sexual lives in total anonymity. The site was inspired by the many stories we received from people who have seen our documentary <a href="http://virginitymovie.com/" class="aboutText" target="_blank">How To Lose Your Virginity</a> or follow <a href="http://virginitymovie.com/blog" class="aboutText" target="_blank">the blog</a>. Join us in telling this collective story about becoming sexual - and in the radical act of speaking honestly about it. Get more information about this project <a href="https://therese-shechter.squarespace.com/interactive/" class="aboutText" target="_blank">here</a> or <a href="https://therese-shechter.squarespace.com/contact" class="aboutText" target="_blank">contact Therese directly</a>.</p><br>

            <p class="aboutText">The site was initially developed in 2013 at the <a href="http://www.pbs.org/pov/blog/povdocs/2013/01/pov-hackathon-2-view-eight-web-storytelling-prototypes/9/POV Hackathon" class="aboutText" target="_blank">POV Hackathon</a> by <a href="http://trixiefilms.com" class="aboutText" target="_blank">Therese Shechter</a>, <a href="https://www.linkedin.com/in/smmelendez" class="aboutText" target="_blank">Steven Melendez</a>, <a href="https://www.linkedin.com/pub/ellice-litwak/b7/2b6/56" class="aboutText" target="_blank">Ellice Litwak</a> and <a href="http://www.vanessajoho.com" class="aboutText" target="_blank">Vanessa Joho</a>. It was updated and relaunched in 2015 by <a href="http://trixiefilms.com" class="aboutText" target="_blank">Therese Shechter</a> and <a href="http://rouxpz.com" class="aboutText" target="_blank">Roopa Vasudevan</a>.</p>
    </div>
    <div id="fade2" class="black_overlay"></div>

    <div id="closeAbout">
            <a href = "javascript:void(0)" id="close2"><img src="{% static "img/close.png" %}" width="75"/></a>
    </div>

	</body>
</html>